body {
  background: #000000;
  overflow-x: hidden;
}

body h1 {
  font-size: 47px;
  font-weight: 700;
  font-family: sans-serif;
  color: #0021A7;
  width: 480px;
  text-transform: capitalize;
  margin-bottom: 30px;
  margin-top: 50px;
  margin-left: 50px;
}